@use '../assets/stylesheets/reset.css';


body {
    width: 100%;
    height: 100%;
    background-color: #0E273C;
    overflow: hidden;
}

#root, .app {
    width: 100%;
    height: 100%;
}