
.chat__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 10;
    position: absolute;
    bottom: 3rem;
    right: 1.5rem;
    width: 18rem;
    height: 28rem;
    background: rgb(24, 57, 83);
    color: white;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;

    input {
        padding: 12px;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
    }
}

.chat__body {
    z-index: 10;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    padding: 1rem;
}

/* width */
.chat__container::-webkit-scrollbar {
    width: 12px;
}
  
  /* Track */
.chat__container::-webkit-scrollbar-track {
    background: #133046;
}
  
  /* Handle */
.chat__container::-webkit-scrollbar-thumb {
    background: #0c1924;
}
  
  /* Handle on hover */
.chat__container::-webkit-scrollbar-thumb:hover {
    background: rgb(87, 138, 180);
}

.chat__message {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    background: #10283a;
    border-radius: 8px;
    margin: 0.25rem 0.5rem 0.25rem 0;
    overflow: hidden;
    line-height: 1rem;
    height: fit-content;
    p {
        text-overflow: ellipsis;
        min-height: 1rem;
    }
}

.chat__lower {
    z-index: 100;
    position: sticky;
    width: 100%;
    bottom: 0;
    padding: 0.5rem;
    background: #183953;
}

.chat__input {
    display: flex;
    justify-content: space-between;
}

.chat__text {
    width: 100%;
    height: 3rem;
    border-radius: 8px;
    background: rgb(7, 25, 41);
}

.chat__submit {
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
    background-image: url("../../assets/images/paper-plane-solid.svg");
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: center;
}

.chat__no-messages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    width: 100%;
    height: 100%;
    .chat__no-messages-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        svg {
            filter: invert(46%) sepia(17%) saturate(1083%) hue-rotate(167deg) brightness(93%) contrast(97%);
        }
    }
    .no-messages__text {
        color: #4b77a0;
        font-size: 1.5rem;
    }
}