.user-show {
    margin: 5vh 2vw 0 22vw;

    .flexed {
        display: flex;
    }
}

.user-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-bottom: 20px;

    h1 {
        color: white;
        font-size: 48px;
        font-family: 'Fredoka One', cursive;
        font-weight: lighter;
        padding: 0 10px;
    }
}

.user-header div:first-child {
    float: left;
    display: flex;
    align-items: center;
}
.user-header div:last-child {
    float: right;
}

.user-show-case {
    background-color: #003e5b;
    padding: 10px;
    border-radius: 8px;
    border: 4px outset #ffbc42;
    color: white;

    h4 {
        color: #ffbc42;
        font-family: "Podkova", serif;
        font-size: 22px;
        text-decoration: underline;
        margin: 5px 0;
    }

    p {
        margin: 10px;
    }
}


.badges-case {
    width: 165px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    .badge {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
    }

    .badges-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        float: left;
    }
}

.created-sets-container {
    margin-left: 20px;
    height: fit-content;
    width: 66vw;
}