.with-nav {
    margin: 5vh 60px 0 22vw;
}

.with-nav2 {
    margin-left: 20vw;
}

.user-show {
    .flexed {
        display: flex;
    }

    h1 {
        color: white;
        font-family: 'Fredoka One', cursive;
        font-weight: lighter;
    }

    .back-arrow {
        position: absolute;
        top: 60px;
        left: 30vw;
        color: gray;
        cursor: pointer;
    }

    .back-arrow:hover {
        color: white;
    }

    .rotate-down {
        transform: rotate(90deg);
    }
}

.user-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-bottom: 20px;

    h1 {
        font-size: 48px;
        padding: 0 20px;
    }
}

.user-header div:first-child {
    float: left;
    display: flex;
    align-items: center;
}
.user-header div:last-child {
    float: right;
}

.user-show-case {
    background-color: #003e5b;
    padding: 10px;
    border-radius: 8px;
    border: 4px outset #ffbc42;
    color: white;

    h4 {
        color: #ffbc42;
        font-family: "Podkova", serif;
        font-size: 22px;
        text-decoration: underline;
        margin: 8px 0;
    }

    p {
        margin: 10px;
    }
}


.badges-case {
    width: 165px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    .badge {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 8px 5px;
        position: relative;
    }

    .badges-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        float: left;
    }
}


.badge .hovertext {
    visibility: hidden;
    width: 150px;
    background-color: #003e5b;
    color: white;
    font-family: "Podkova", serif;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    border: 1px outset #FB3754;
    position: absolute;
    z-index: 1;
    left: 105%;
    top: 5px;
}

.badge:hover .hovertext {
    visibility: visible;
}

.created-sets-container {
    margin-left: 20px;
    height: fit-content;
    width: 66vw;
}

// Edit user form
.edit-user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;

    h1 {
        font-size: 44px;
        padding: 20px;
    }

    h4 {
        font-family: "Fredoka One", cursive;
        margin-right: 5px;
    }

    .edit-flex {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }

    label, input, h4 {
        font-size: 18px;
    }

    label {
        font-family: 'Fredoka One', cursive;
        width: 8vw;
        margin: 15px;
        text-align: right;
    }

    input {
        text-align: left;
        padding: 1.2em;
        margin-top: 0.5em;
        border: 1px solid white;
        font-family: "Roboto", sans-serif;
        border-radius: 18px;
        font-size: 0.95em;
        width: 24vw;
        color: white;
    }

    input:focus {
        outline: none;
        box-shadow: 0 0 10px white;
    }

    .red-bg {
        color: black;
    }
    .red-bg:hover {
        color: white;
    }

    .errormsg {
        font-family: "Fredoka One", cursive;
    }
}

.greyed {
    background-color: darkgray;
    color: gray;
    width: 12rem;
}

.delete-modal {
  z-index: 998;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-modal-content {
  z-index: 999;
  position: relative;
  border-radius: 32px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #003e5b;
  width: 35vw;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.685);
  animation: zoominandshake 0.5s;

  h1 {
      font-size: 30px;
      padding-bottom: 1em;
  }

  p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 2em;
  }

  .delete-buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button:last-child {
          margin-bottom: 20px;
      }
  }

  .close-button {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }

  .red {
    color: #FB3754;
    font-weight: 700;
  }
}

.hidden {
    display: none;
}

#show-password-change {
    cursor: pointer;
}

.user-qset-index {
    background-color: #003e5b;
    border-radius: 8px;
    border: 2px outset #ffbc42;
    // font-family: "Fredoka One", cursive;
    margin: 8px 0;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > a {
        color: #ffbc42;
    }

    > div {
        display: flex;
        align-items: center;
    }
}

.user-qset-index:hover {
    -webkit-filter: brightness(90%);
}

.small-button {
    font-family: "Podkova", serif;
    font-weight: 900;
    cursor: pointer;
    text-align: center;
    margin: 0.5em;
    border: 2px outset #FB3754;
    padding: 0.1em;
    border-radius: 6px;
}

.small-button:hover {
    border: 2px solid white;
    color: white;
}

@keyframes zoominandshake {
    0% {
        transform: scale(0.1,0.1);
    }
    40% {
        transform: scale(1,1);
        transform: rotate(2deg)
    }
    70% {
        transform: rotate(2deg)
    }
    50%,  90% {
        transform: rotate(-2deg)
    }
}

.join-game-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
