@use '../app.scss';
@font-face {
    font-family: Noir Pro;
    src: url("../../assets/fonts/Noir_medium.otf");
}

body, html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

.splash-page__container {
    // position: relative;
    display: flex;
    flex-direction: column;
}

.splash-page__main {
    z-index: 1;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #003e5b;
    scroll-snap-align: start;
    overflow: hidden;
}

.splash-page__main::before {
    // REPEATING HATS :)
    z-index: -1;
    width: 300vw;
    height: 300vh;
    right: 0;
    bottom: -60rem;
    content: '';
    position: absolute;
    background: url('../../assets/images/hats-repeating.png') repeat;
    // box-shadow: inset 0 0 40rem #003E5B, inset 0 0 40rem #003E5B, inset 0 0 40rem #003E5B;
    transform: rotate(-10deg);
    animation: scroll-background 60s linear infinite;
}

@keyframes scroll-background {
    0% {
        transform: translate3d(0, 0, 0) rotate(-10deg);
    }

    100% {
        transform: translate3d(100vw, 0, 0) rotate(-10deg);
    }
}

.splash-page__main::after {
    // lower dark gradient
    z-index: -1;
    width: 100%;
    height: 35vh;
    margin-top: 65vh;
    content: '';
    position: absolute;
    background: linear-gradient(0deg, rgba(1,24,34,1) 0%, rgba(0,62,91,0) 100%);
}

.splash-page__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0.5;
}

.splash-page__wizard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.splash-page__wizard-quotes {
    margin: 1rem;
}

.splash-page__wizard-sprite {
    font-family: "Lucida Sans Unicode", "Arial Unicode MS";
    font-size: 8rem;
    text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.6);
}

.splash-page__quote-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    width: 14rem;
    border-radius: 8px;
    padding: 1rem;
    background: #fefefe;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.75);
}

.splash-page__quote-triangle {
    position: relative;
    height: 0px;
    width: 0px;
    left: 1rem;
    border-top: 24px solid #fefefe;
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 16px solid rgba(0, 0, 0, 0);
    border-left: 16px solid rgba(0, 0, 0, 0);
}

.splash-page__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 1rem;
}

.splash-page__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Podkova', serif;
        font-weight: 900;
        font-size: 2rem;
        width: 8rem;
        height: 3.25rem;
        border-radius: 0.75rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.685);
        margin: 0 1rem;
        background: #FB3754;
    }

    button:first-child{
        background: #ffbc42;
    }

    button:hover {
        border: 2px solid white;
        color: white;
    }
}

.splash-page__tagline {
    display: none;
    justify-content: center;
    align-items: center;
    max-width: 36rem;
    font-family: 'Fredoka One', cursive;
    color: #ffbc42;
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem;
}

.splash-page__center-lower {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 1rem;
    svg {
        width: 3rem;
        height: 3rem;
        filter: invert(82%) sepia(66%) saturate(1197%) hue-rotate(323deg) brightness(101%) contrast(101%);
        animation: slow-bounce 4s infinite ease-in-out;
    }
}

@keyframes slow-bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(16px);
    }

    100% {
        transform: translateY(0);
    }
}

// LOWER PAGE STYLES (social links, technologies) ----------------------

.splash-page__bottom {
    background-color: #013E5B;
    scroll-snap-align: start;
    font-family: 'Noir Pro', sans-serif;
    font-weight: 700;
}

.splash-page__links-container {
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.splash-page__links {
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    height: 100vh;
    overflow: hidden;
}

.splash-page__links-header {
    font-size: 2rem;
    color: #ffbc42;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 0.25rem;
    letter-spacing: 2px;
    text-align: center;
    margin: 1.5rem 0 2rem;
}

.splash-page__links-text {
    color: #fefefe;
    max-width: 40rem;
    font-size: 1.25rem;
    letter-spacing: 1px;
    line-height: 200%;
    text-align: center;
    font-weight: 500;
    padding: 0.25rem;
}

.splash-page__profile-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-page__profile {
    width: 6rem;
    height: 6rem;
    border-radius: 6rem;
    margin: 2rem 0.5rem;
    background: #fefefe;
}

.splash-page__continue {
    position: relative;
    bottom: -5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    svg {
        filter: invert(1%) sepia(1%) saturate(172%) hue-rotate(314deg) brightness(109%) contrast(89%);
    }
}

.splash-page__continue-text {
    width: 80%;
    color: #111;
    font-size: 1.75rem;
    text-align: center;
}

.splash-page__technologies {
    height: 100vh;
}

// DECORATIVE ELEMENTS -------------------------------------------------

.splash__swipe {
    position: absolute;
    width: 15rem;
    height: 40rem;
    transform: rotate(45deg);
}

.swipe-red {
    background: #FB3754;
    transform: rotate(135deg);
    bottom: -20rem;
    left: 0;
}

.swipe-red::after {
    width: 1.25rem;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 2rem;
    background: #013E5B;
}

.swipe-yellow {
    height: calc(200vh);
    width: 22rem;
    background: #ffbc42;
    left: 75%;
}

.swipe-yellow::after {
    width: 1.25rem;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 18rem;
    background: #013E5B;
}

.swipe-blue {
    z-index: -1;
    background: #006495;
    left: 20rem;
    height: calc(200vh);
}

.swipe-blue::after {
    width: 1.25rem;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 2.5rem;
    background: #013E5B;
}

// MEDIA QUERIES -------------------------------------------------------

@media (min-width: 770px) {
    .splash-page__wizard-container {
        flex-direction: row;
    }

    .splash-page__wizard-sprite {
        font-size: 12rem;
    }

    .splash-page__quote-box {
        font-size: 1.15rem;
        margin-bottom: 65%;
        width: 12rem;
        height: 9rem;
        border-radius: 50%;
    }

    .splash-page__quote-triangle {
        bottom: 11rem;
        left: 10rem;
        border-top: 18px solid rgba(0, 0, 0, 0);
        border-right: 4px solid rgba(0, 0, 0, 0);
        border-bottom: 24px solid rgba(0, 0, 0, 0);
        border-left: 48px solid #fefefe;
        transform: rotate(45deg);
    }

    .splash-page__buttons {
        button {
            width: 10rem;
            height: 3.5rem;
            border-radius: 6px;
            font-size: 1.5rem;
        }
    }

    .splash-page__tagline {
        display: flex;
    }

    .splash-page__center-lower {
        justify-content: flex-end;
        right: 2rem;
        svg {
            width: 4rem;
            height: 4rem;
        }
    }
}

@media (min-width: 900px) {
    .splash-page__center {
        flex-direction: row;
    }

    .splash-page__bottom {
        display: flex;
        flex-direction: row;
        // overflow-x: auto;
    }

    .splash-page__links-container {
        justify-content: flex-start;
    }

    .splash-page__links {
        flex-direction: row;
        min-width: 100vw;
    }

    .splash-page__links-header {
        align-self: flex-start;
        font-size: 2.5rem;
        padding-left: 2rem;
    }

    .splash-page__links-text {
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 150%;
        width: 35%;
        span {
            text-decoration: underline;
            text-decoration-thickness: 0.25rem;
            text-underline-offset: 5px;
        }
    }

    .splash-page__technologies {
        width: 100vw;
        height: 100vh;
    }

    .splash-page__profile-list {
        margin-top: 7.5rem;
    }

    .splash-page__profile {
        width: 9rem;
        height: 9rem;
        margin: 2rem 4rem;
    }

    .splash-page__continue {
        position: absolute;
        right: 4rem;
        display: flex;
        flex-direction: column-reverse;
        top: -13rem;
        font-size: 1.25rem;
        svg {
            margin-right: 2.5rem;
            align-self: flex-end;
            transform: rotate(-90deg);
        }
    }
    .splash-page__continue-text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2rem;
    }
}