@use '../app.scss';

body, html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

.splash-page__container {
    display: flex;
    flex-direction: column;
}

.splash-page__container > div{
    height: 100vh;
}

.splash-page__main {
    background-color: #003e5b;
    scroll-snap-align: start;
}

.splash-page__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.splash-page__wizard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.splash-page__wizard-quotes {
    margin: 1rem;
}

.splash-page__wizard-sprite {
    font-family: "Lucida Sans Unicode", "Arial Unicode MS";
    font-size: 8rem;
    text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.6);
}

.splash-page__quote-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    width: 14rem;
    border-radius: 8px;
    padding: 1rem;
    background: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.75);
}

.splash-page__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 1rem;
}

.splash-page__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    margin-bottom: 2rem;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Podkova', serif;
        font-weight: 900;
        font-size: 2rem;
        width: 8rem;
        height: 3.25rem;
        border-radius: 0.75rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.685);
        margin: 0 1rem;
        background: #d7263d;
    }

    button:first-child{
        background: #ffbc42;
    }
}

.splash-page__tagline {
    display: none;
    justify-content: center;
    align-items: center;
    width: 60%;
    font-family: 'Fredoka One', cursive;
    color: #ffbc42;
    font-size: 2.5rem;
    padding: 2rem;
    text-align: center;
}

.splash-page__center-lower {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 1rem;
    svg {
        filter: invert(82%) sepia(66%) saturate(1197%) hue-rotate(323deg) brightness(101%) contrast(101%);
    }
}

.splash-page__bottom {
    background-color: #1D3354;
    scroll-snap-align: start;
}

@media (min-width: 770px) {
    .splash-page__wizard-container {
        flex-direction: row;
    }

    .splash-page__quote-box {
        font-size: 1.15rem;
        margin-bottom: 65%;
        width: 12rem;
        height: 9rem;
        border-radius: 50%;
    }

    .splash-page__buttons {
        button {
            width: 10rem;
            height: 3.5rem;
            border-radius: 6px;
            font-size: 1.5rem;
        }
    }

    .splash-page__tagline {
        display: flex;
    }

    .splash-page__center-lower {
        justify-content: flex-end;
        right: 2rem;
        svg {
            width: 5rem;
            height: 5rem;
        }
    }
}

@media (min-width: 900px) {
    .splash-page__center {
        flex-direction: row;
    }
}